@import '@styles/variables';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navigationItem {
  font-size: $desktopMenuFontSize;
  padding: 0 16px;
  text-transform: none;
  white-space: nowrap;

  &:hover {
    color: $buttonHoverBG;
  }
}

.navigationUnderline {
  position: absolute;
  bottom: -6px;
  left: 8px;
  left: var(--underline-left, 8px);
  width: 67px;
  width: var(--underline-width, 67px);
  height: 3px;
  padding: 0 20px;
  transition: $menuDuration ease-in-out;
  background: linear-gradient(
    270deg,
    $paletteCycleColor1 0%,
    $paletteCycleColor2 49.57%,
    $paletteCycleColor3 100%
  );
}
